.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

h1 {
  display:flex;
  font-size: 5vmin;
  font-family: 'Comfortaa', cursive;
}

h2 {
  text-align: center;
  font-size: 3vmin;
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-size: 2vmin;
  font-family: 'Comfortaa', cursive;
  margin: 0;
}

p {
  font-size: 1.7vmin;
}

a:hover {
  font-weight: 500;
  cursor: pointer;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

button::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
button::-moz-selection {
  color: none;
  background: none;
}