.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

h1 {
  display:flex;
  font-size: 5vmin;
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-size: 2vh;
  font-family: 'Comfortaa', cursive;
  margin: 0;
}

button {
  outline: none;
}
