.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

h1 {
  display:flex;
  font-size: 5vmin;
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-size: 2vmin;
  font-family: 'Comfortaa', cursive;
  margin: 0;
}

button {
  outline: none;
}

button::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
button::-moz-selection {
  color: none;
  background: none;
}